<<<<<<< HEAD
body{
    background: #eee;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
=======
.footer{
  background-color: rgba(0, 0, 0, 0.2)
>>>>>>> 11f2a770536aeb0460c27e21f0de4c5600d6636e
}