html,
body {
  height: 100%;
}

html {
  scroll-padding-top: 5rem;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #2493bf;
}

.navbar a:hover {
  transform: scale(1.2);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem !important;
  color: white;
  font-weight: bold;
}

.main_logo {
  background-color: #ffffffe6;
  border-radius: 10px;
}

.full-height {
  height: 100vh;
  margin: auto;
}

span {
  font-size: 15px;
}

a {
  text-decoration: none;
}
.box {
  padding: 60px 0px;
}

.box-part {
  background: #2493bf78;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
  color: #4677da !important;
  border-radius: 15px;
}

.box-part img {
  border-radius: 20%;
}

.box-part img:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.text {
  margin: 20px 0px;
}

.fa {
  color: #4183d7;
}

.derecha {
  text-align: left;
}

.justificado {
  text-align: justify;
}

.titulo {
  color: #4e4b4b;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2493bf;
}

footer a {
  color: #0000ffa3 !important;
}

.fab:hover {
  transform: scale(1.4);
}

.descriptionForm1 {
  color: #4e4b4b;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.descriptionForm2 {
  color: #4e4b4b;
  width: 900px;
  padding: 30px;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-header {
  background-color: #2493bf;
  color: white;
}

.modal-footer {
  background-color: #2493bf;
  color: white;
}

.descriptionForm1 .boton {
  margin-top: 20px;
  width: 20%;
  background: #d9d9d9;
  border: none;
  padding: 5px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

.descriptionForm2 .boton {
  margin-top: 20px;
  width: 20%;
  background: #d9d9d9;
  border: none;
  padding: 5px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}

.descriptionForm1 h2 {
  margin-top: 20px;
  color: #4e4b4b;
}

.modal-ku {
  width: 900px;
  margin: auto;
}
