<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestim</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/app.css" />
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/jquery.validate.min.js"></script>
    <script src="../js/additional-methods.min.js"></script>
    <script src="../js/contact.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-fixed-top mb-4 text-white">
      <div class="container-fluid">
        <a href="javascript:history.back()" class="navbar-brand">
          <img
            src="../assets/img/logo.webp"
            height="80"
            alt="Gestim"
            class="main_logo"
          />
        </a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav text-white">
            <a href="home.html" class="nav-item nav-link">Home</a>
          </div>
          <div class="navbar-nav text-white">
            <a href="help.html" class="nav-item nav-link">Ayuda</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a href="../index.html" class="nav-item nav-link">Salir</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row">
        <article aria-hidden="false">
          <section class="mt-5 pt-5 mb-5 pb-5">
            <div>
              <div>
                <div>
                  <p>
                    &iquest;Te has preguntado qu&eacute; es y
                    <strong>c&oacute;mo funciona un help desk</strong>? Help
                    desk -en espa&ntilde;ol, mesa de ayuda- es un servicio de
                    atenci&oacute;n y soporte que centraliza las solicitudes de
                    los usuarios en una plataforma digital. Este sector es
                    responsable de resolver consultas t&eacute;cnicas, fallas y
                    problemas relacionados con la telefon&iacute;a e
                    inform&aacute;tica.
                  </p>
                  <p>
                    Actualmente, la herramienta de help desk es fundamental para
                    transformar la experiencia del cliente de forma
                    r&aacute;pida y eficaz. De hecho, el<strong>
                      <strong>62% de los consumidores</strong
                      ><strong>
                        afirma que<strong>
                          la informaci&oacute;n y el conocimiento son clave para
                          una buena experiencia de servicio.
                        </strong></strong
                      ></strong
                    >
                  </p>
                  <p>
                    El help desk es un servicio esencial para que las empresas
                    puedan llevar a cabo las operaciones de soporte
                    t&eacute;cnico. Su objetivo es resolver solicitudes,
                    problemas o quejas de inmediato, adem&aacute;s de derivar
                    los incidentes m&aacute;s complejos a los niveles de soporte
                    especializado.
                  </p>
                  <p>
                    Sin embargo, el mero hecho de tener un help desk no es
                    suficiente para el &eacute;xito del &aacute;rea de soporte.
                    El conocimiento sobre las funciones de la mesa de ayuda
                    tambi&eacute;n brinda a los agentes las herramientas que
                    necesitan para hacer bien su trabajo. &iquest;Te
                    gustar&iacute;a saber m&aacute;s sobre c&oacute;mo funciona
                    una mesa de ayuda? En este post aprender&aacute;s:&nbsp;
                  </p>
                  <ul>
                    <li>
                      &iquest;Qu&eacute; es mesa de ayuda y para qu&eacute;
                      sirve?
                    </li>
                    <li>&iquest;C&oacute;mo funciona un help desk?</li>
                    <li>
                      &iquest;Qu&eacute; es y c&oacute;mo funciona un software
                      de help desk?
                    </li>
                    <li>
                      6 ventajas de utilizar un sistema de help desk en tu
                      empresa
                    </li>
                  </ul>
                  <h2>
                    &iquest;Qu&eacute; es mesa de ayuda y para qu&eacute; sirve?
                  </h2>
                  <p>
                    Antes de saber c&oacute;mo funciona un help desk debes
                    entender qu&eacute; es y para qu&eacute; sirve.
                  </p>
                  <p>
                    La mesa de ayuda o<strong>
                      help desk es un servicio que ofrece informaci&oacute;n y
                      soporte t&eacute;cnico a los usuarios de una empresa. Su
                      prop&oacute;sito es atender solicitudes e incidentes
                      internos y externos relacionados a la tecnolog&iacute;a de
                      la informaci&oacute;n (TI).
                    </strong>
                  </p>
                  <p>
                    Un help desk es el primer punto de contacto entre usuarios y
                    empresas encargadas de ofrecer soporte t&eacute;cnico. En el
                    contexto de TI, es el sector encargado de responder las
                    preguntas t&eacute;cnicas de los usuarios, recolectar
                    informaci&oacute;n exacta sobre solicitudes, solucionar
                    problemas que se encuentren dentro de su conocimiento y
                    escalar los incidentes m&aacute;s complejos al service desk.
                  </p>
                  <p>
                    Una de las principales caracter&iacute;sticas de un help
                    desk es su r&aacute;pida actuaci&oacute;n en problemas
                    comunes.
                    <strong
                      >Su objetivo es tratar los
                      <strong>tickets de soporte</strong
                      ><strong>
                        que contengan incidentes de baja complejidad y que
                        pueden ser resueltos de forma &aacute;gil. Esto
                        aumentar&aacute; la satisfacci&oacute;n del cliente y
                        mejorar&aacute; algunos </strong
                      ><strong
                        >KPI de customer support, como el tiempo de
                        resoluci&oacute;n de incidentes en el primer nivel.
                      </strong></strong
                    >
                  </p>
                  <p>
                    Aunque el help desk est&aacute; relacionado al &aacute;rea
                    de TI, en algunas empresas el t&eacute;rmino &ldquo;mesa de
                    ayuda&rdquo; es m&aacute;s amplio y hace referencia al
                    servicio de atenci&oacute;n al cliente. De cualquier manera,
                    todo se remonta al principio de ayudar a los usuarios y
                    servir como punto central para que ofrecer soporte e
                    informaci&oacute;n.
                  </p>
                  <p>
                    Ahora que ya sabes qu&eacute; es mesa de ayuda y para
                    qu&eacute; sirve, contin&uacute;a leyendo y descubre
                    c&oacute;mo funciona un help desk.
                  </p>
                  <h2>&iquest;C&oacute;mo funciona un help desk?</h2>
                  <p>
                    El help desk ofrece un &uacute;nico punto de contacto para
                    que los usuarios obtengan ayuda.
                    <strong
                      >Las solicitudes e incidentes se administran mediante un
                      <strong>software que permite crear tickets</strong
                      ><strong
                        >, realizar seguimiento de incidentes y priorizar casos,
                        entre otras funciones.
                      </strong></strong
                    >
                  </p>
                  <p>
                    La comunicaci&oacute;n entre t&eacute;cnicos de help desk y
                    usuarios se realiza a trav&eacute;s de canales como correo
                    electr&oacute;nico, tel&eacute;fono o chat en l&iacute;nea.
                    Tambi&eacute;n hay aplicaciones internas destinadas a
                    ofrecer ayuda, pero son exclusivas para colaboradores de una
                    organizaci&oacute;n.
                  </p>
                  <p>
                    Existen varios
                    <strong>niveles de soporte t&eacute;cnico</strong> para
                    gestionar los diferentes tipos de incidentes. El help desk
                    se constituye como el soporte t&eacute;cnico de nivel 1.
                  </p>
                  <p>
                    El soporte t&eacute;cnico de nivel 1 se encarga de reunir
                    los datos de los usuarios, determinar el tipo de problema
                    que tienen y derivar los incidentes a los t&eacute;cnicos
                    responsables. Del mismo modo, responden las preguntas
                    comunes y realizan tareas de soporte b&aacute;sicas.
                  </p>
                  <p>
                    Algunas de las tareas realizadas por los t&eacute;cnicos de
                    help desk son:
                  </p>
                  <ul>
                    <li>Crear tickets en un sistema de help desk;</li>
                    <li>
                      responder consultas relacionadas a la utilizaci&oacute;n
                      de alg&uacute;n software;
                    </li>
                    <li>mantenimiento de computadoras;</li>
                    <li>instalar software;</li>
                    <li>configurar cuentas de correo electr&oacute;nico;</li>
                    <li>restablecer contrase&ntilde;as;</li>
                    <li>
                      orientar a los usuarios sobre posibles fallas
                      t&eacute;cnicas en sus productos.
                    </li>
                  </ul>
                  <p>
                    <strong
                      >Si los t&eacute;cnicos de help desk no pueden resolver el
                      problema, deben elevar el incidente al segundo nivel de
                      atenci&oacute;n, tambi&eacute;n conocido como service
                      desk. Este nivel cuenta con personal capacitado para
                      manejar consultas m&aacute;s complejas.
                    </strong>
                  </p>
                  <p>
                    <strong
                      >&iquest;Quieres un ejemplo para entender c&oacute;mo
                      funciona una mesa de ayuda?
                    </strong>
                  </p>
                  <p>
                    Para entender c&oacute;mo funciona un help desk, imagina que
                    tu nueva computadora port&aacute;til comienza a fallar.
                    Despu&eacute;s de algunos d&iacute;as con ella, empieza a
                    reiniciarse autom&aacute;ticamente.
                  </p>
                  <p><strong>&iquest;Qu&eacute; har&iacute;as?</strong></p>
                  <p>
                    Seguramente entrar&iacute;as en contacto con la empresa que
                    fabrica computadoras port&aacute;tiles para relatar el
                    problema y entender c&oacute;mo resolverlo.
                  </p>
                  <p>
                    Una vez que te comunicas con la empresa, recopilan tus datos
                    (nombre, tel&eacute;fono, correo electr&oacute;nico) y
                    explicas al t&eacute;cnico lo que sucede. Toda esta
                    informaci&oacute;n es necesaria para abrir un ticket de
                    soporte.
                  </p>
                  <p>
                    Ten en cuenta que
                    <strong
                      >esta documentaci&oacute;n debe ser lo m&aacute;s
                      detallada posible para garantizar un soporte de calidad.
                      Adem&aacute;s, en caso de que sea un problema complejo,
                      ser&aacute; m&aacute;s f&aacute;cil derivar el incidente
                      al equipo de servicio especializado.
                    </strong>
                  </p>
                  <p>
                    En principio, el t&eacute;cnico de help desk
                    realizar&aacute; preguntas clave para identificar el
                    problema.
                    <strong
                      >El objetivo en este punto es realizar un filtro que
                      permita entender la complejidad del incidente y verificar
                      si es posible solucionar la falla de tu computadora en el
                      primer nivel de soporte.
                    </strong>
                  </p>
                  <p>
                    Si el problema es sencillo podr&aacute;n ayudar de inmediato
                    y orientar c&oacute;mo resolver la falla. En caso contrario
                    elevar&aacute;n el incidente al pr&oacute;ximo nivel.
                  </p>
                  <h2>3 funciones de un software de help desk</h2>
                  <p>
                    Como dijimos, el software de mesa de ayuda es una
                    herramienta que
                    <strong
                      >centraliza los llamados de una empresa en una
                      &uacute;nica plataforma, facilitando el gerenciamiento de
                      solicitudes e incidentes. Este sistema surgi&oacute; para
                      resolver de forma eficiente y r&aacute;pida los problemas
                      se&ntilde;alados por los clientes, con la posibilidad de
                      categorizar, priorizar y derivar las solicitudes a los
                      agentes seg&uacute;n su importancia y especificidad.
                    </strong>
                  </p>
                  <p>
                    Antiguamente, cuando no hab&iacute;a Internet, el cliente
                    ten&iacute;a que llamar a la central de atenci&oacute;n
                    telef&oacute;nica para registrar su incidente y esperar la
                    resoluci&oacute;n del caso durante un largo periodo.
                  </p>
                  <p>
                    Existen 3 funciones que te ayudar&aacute;n a entender mejor
                    c&oacute;mo funciona un help desk:
                  </p>
                  <h3>1. Organizaci&oacute;n</h3>
                  <p>
                    C&oacute;mo ahora sabes,
                    <strong>el help desk centraliza en una interfaz</strong>
                    todos los canales que los clientes usan para contactar a una
                    empresa. Esta herramienta ayuda a almacenar los datos de los
                    clientes, su historial de interacciones y de compra,
                    preferencia de productos y dem&aacute;s informaci&oacute;n
                    relevante para brindar una atenci&oacute;n personalizada.
                  </p>
                  <h3>2. Control</h3>
                  <p>
                    El help desk sirve para
                    <strong
                      >controlar por medio de informes todos los incidentes en
                      abierto, el n&uacute;mero de resoluciones y los que han
                      sido elevados a los siguientes niveles.
                    </strong>
                  </p>
                  <p>
                    Con esta herramienta tendr&aacute;s control de la
                    performance de los agentes de atenci&oacute;n al cliente y
                    trabajar para mejorar en base a los resultados.
                  </p>
                  <p>
                    Una buena pr&aacute;ctica es realizar un seguimiento
                    constante de las m&eacute;tricas y realizar capacitaciones
                    para mejorar los puntos d&eacute;biles del servicio.
                  </p>
                  <h3>3. Optimizaci&oacute;n</h3>
                  <p>
                    Monitorear el
                    <strong>desarrollo y productividad de tu equipo</strong> es
                    una tarea importante para descubrir fortalezas y
                    debilidades. En base a los resultados, podr&aacute;s
                    capacitarlos para atender de forma objetiva y clara todas
                    las consultas entrantes.
                    <strong
                      >Definir y realizar el seguimiento m&eacute;tricas es
                      fundamental para crear estrategias certeras y optimizar
                      las interacciones del equipo de help desk con los
                      usuarios.
                    </strong>
                  </p>
                  <p>
                    La mayor&iacute;a de los equipos de soporte miden su
                    rendimiento a trav&eacute;s de los resultados de la encuesta
                    de satisfacci&oacute;n del cliente (48%) y n&uacute;mero de
                    tickets resueltos (39%).
                  </p>
                  <p>
                    Si quieres conocer m&aacute;s tendencias de experiencia al
                    cliente para repensar las estrategias de tu empresa, te
                    invitamos a descargar gratis el informe &ldquo;Tendencias en
                    la experiencia del cliente 2021&rdquo;, de Zendesk.&nbsp;
                  </p>
                  <div>
                    <div>Tendencias en la experiencia del cliente 2021</div>
                    <div>Descarga aqu&iacute;!</div>
                  </div>
                  <h2>
                    6 ventajas de utilizar un sistema de help desk en tu empresa
                  </h2>
                  <p>
                    Ahora que tienes una idea de qu&eacute; es y c&oacute;mo
                    funciona un help desk, detallaremos las 6 ventajas, o mejor,
                    los 6 motivos para utilizar un software de mesa de ayuda en
                    tu empresa.
                  </p>
                  <h3>
                    1. Uso de datos para mejorar la experiencia del cliente
                  </h3>
                  <p>
                    Con el software de help desk podr&aacute;s
                    <strong
                      >monitorear las acciones de tus clientes y entender sus
                      comportamientos. Los datos recolectados pueden ser
                      utilizados en futuras campa&ntilde;as de marketing para tu
                      empresa o para mejorar la experiencia de los consumidores.
                    </strong>
                  </p>
                  <p>
                    Ten en cuenta que el 52% de los clientes revel&oacute; que
                    ha realizado una compra adicional a una empresa
                    despu&eacute;s de una experiencia positiva de servicio al
                    cliente.
                  </p>
                  <h3>2. Automatizaci&oacute;n de los procesos</h3>
                  <p>
                    Una herramienta de help desk permite
                    <strong>automatizar procesos</strong
                    ><strong
                      >, optimizar tiempo para realizar tareas y regular la
                      carga de trabajo de los agentes.
                    </strong>
                  </p>
                  <p>
                    Cuando un cliente abre un llamado en el help desk por
                    primera vez, los agentes deber&aacute;n tomar sus datos,
                    registrarlos en el software y guardarlos para futuras
                    interacciones. De este modo, cuando el cliente entre en
                    contacto de nuevo con la mesa de ayuda, ser&aacute; posible
                    visualizar el historial, acelerar el proceso de
                    atenci&oacute;n y brindar soporte personalizado.
                  </p>
                  <h3>3. Ahorro de tiempo y de costos</h3>
                  <p>
                    Trabajar con un software de help desk
                    <strong>reducir&aacute; los costos</strong>, pues el
                    atendimiento se realiza de forma online y remota. Las
                    empresas no tendr&aacute;n que agendar m&aacute;s visitas
                    presenciales a clientes para resolver un problema de nivel
                    1.
                  </p>
                  <p>
                    Adem&aacute;s, el sistema de help desk permite llevar el
                    control de tiempo que tardan los agentes para resolver un
                    incidente. Esto permite que los supervisores analicen de
                    forma precisa el tiempo medio de resoluci&oacute;n y puedan
                    gestionar adecuadamente el SLA de cada cliente.
                  </p>
                  <h3>4. Fidelizaci&oacute;n de clientes</h3>
                  <p>
                    Incluir una mesa de ayuda dentro de tu estrategia de
                    atenci&oacute;n al cliente, permite
                    <strong
                      >conocer a los usuarios y entender mejor su perfil. De
                      esta manera, sabr&aacute;s c&oacute;mo satisfacer sus
                      necesidades con tus productos o servicios y trabajar para
                      fidelizarlos.
                    </strong>
                  </p>
                  <h3>5. Mejora la comunicaci&oacute;n interna</h3>
                  <p>
                    El software de mesa de ayuda permite que todos los miembros
                    del equipo de atenci&oacute;n al cliente tengan acceso a la
                    misma informaci&oacute;n. Esto fomentar&aacute; el trabajo
                    en equipo, la ayuda entre agentes y la comunicaci&oacute;n
                    interna.
                  </p>
                  <h3>6. An&aacute;lisis de resultados</h3>
                  <p>
                    Una de las ventajas m&aacute;s interesantes de un sistema de
                    help desk es la
                    <strong
                      >generaci&oacute;n de informes para medir los resultados
                      de tu equipo. Eso te ayuda a ver qui&eacute;nes
                      est&aacute;n actuando bien y qui&eacute;nes no.
                    </strong>
                  </p>
                  <p>
                    Algunos datos que puedes obtener con un sistema de help desk
                    son:
                  </p>
                  <ul>
                    <li>Nivel de satisfacci&oacute;n de los clientes;</li>
                    <li>n&uacute;mero de tickets resueltos;</li>
                    <li>n&uacute;mero de tickets sin soluci&oacute;n;</li>
                    <li>tiempo medio de resoluci&oacute;n de incidentes;</li>
                    <li>tipos de incidentes;</li>
                    <li>
                      n&uacute;mero de incidentes resueltos por cada agente;
                    </li>
                    <li>
                      n&uacute;mero de tickets elevados a otros niveles de
                      soporte.
                    </li>
                  </ul>
                  <p>
                    Ahora que ya sabes c&oacute;mo funciona un help desk y
                    cu&aacute;les son las ventajas de implementarlo en tu
                    empresa, lleg&oacute; la hora de conocer una herramienta que
                    te permita brindar un soporte de calidad.
                  </p>
                  <p>
                    Con Zendesk para el servicio de atenci&oacute;n al cliente,
                    tendr&aacute;s una herramienta completa que permitir&aacute;
                    guardar el historial de interacciones, conocer a tus
                    clientes, brindar un soporte de alt&iacute;sima calidad y
                    trazar estrategias de fidelizaci&oacute;n certeras.
                  </p>
                  <p>Sus principales funciones son:</p>
                  <ul>
                    <li>
                      integraci&oacute;n perfecta entre todos los canales de
                      atenci&oacute;n (mensajer&iacute;a, chat en vivo, redes
                      sociales, correo electr&oacute;nico o tel&eacute;fono);
                    </li>
                    <li>
                      informaci&oacute;n contextual de cada uno de los clientes;
                    </li>
                    <li>base de conocimiento y auto atendimiento;</li>
                    <li>informes y m&eacute;tricas de desempe&ntilde;o;</li>
                    <li>Integraci&oacute;n con tus sistemas.</li>
                  </ul>
                  <p>
                    Con
                    <strong
                      >la soluci&oacute;n de atenci&oacute;n al cliente de
                      Zendesk tendr&aacute;s toda la informaci&oacute;n
                      necesaria para identificar las preferencias de los
                      usuarios, personalizar estrategias y brindar un mejor
                      servicio.&nbsp;No pierdas m&aacute;s tiempo y solicita hoy
                      una demostraci&oacute;n gratuita.
                    </strong>
                  </p>
                </div>
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>

    <footer class="text-center text-white footer pt-2">
      <img
        src="https://static.wixstatic.com/media/97d131_d2ff4ffc59c84c5f90925c9b3743ce1c~mv2.png/v1/crop/x_79,y_46,w_176,h_123/fill/w_147,h_102,al_c,q_85,usm_0.66_1.00_0.01/97d131_d2ff4ffc59c84c5f90925c9b3743ce1c~mv2.webp"
        width="50px"
      />
      <div class="text-center p-3">
        © 2022 Copyright Gestim S.A.S:
        <a href="https://www.politecnicojic.edu.co/">gestim.com</a>
      </div>
    </footer>
  </body>
</html>
