<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ticket</title>
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
<link rel="stylesheet" href="../css/app.css" />
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="../js/additional-methods.min.js"></script>
<script src="../js/contact.js"></script>
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-fixed-top mb-4 text-white">
        <div class="container-fluid">
            <a href="javascript:history.back()" class="navbar-brand">
                <img src="../assets/img/logo.webp" height="80" alt="Gestim" class="main_logo" />
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav text-white">
                    <a href="help.html" class="nav-item nav-link">Ayuda</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-item nav-link">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-5">

        <form id="nameRegistration" action="" method="post">
            <div class="container mt-5">.
                <section class="descriptionForm1">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Primer Nombre: </label>
                            <input type="text" name="firstname" size="15" />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Segundo Nombre: </label>
                            <input type="text" name="secondtname" size="15" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label> Primer Apellido: </label>
                            <input type="text" name="middlename" size="15" />
                        </div>
                        <div class="form-group col-md-6">
                            <label> Segundo Apellido: </label>
                            <input type="text" name="middlename" size="15" />
                        </div>
                    </div>
                </section>
            </div>
        </form>

        <form id="nameResgistration2" action="" method="post">
            <div class="container mt-5">.
                <section class="descriptionForm1">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>
                                Genero:
                            </label>
                            <input type="radio" name="male" /> Masculino <br>
                            <input type="radio" name="female" /> Femenino <br>
                            <input type="radio" name="other" /> Otro
                        </div>
                    </div>
                    <div class="row">

                        </div>

                            <label>
                                Phone :
                            </label>
                            <input type="text" name="country code" value="+91" size="2" />
                            <input type="text" name="phone" size="10" /> <br> <br>
                </section>
            </div>



                        Address
                        <br>
                        <textarea cols="80" rows="5" value="address">
                </textarea>
                        <br> <br>
                        Email:
                        <input type="email" id="email" name="email" /> <br>
                        <br> <br>
                        Password:
                        <input type="Password" id="pass" name="pass"> <br>
                        <br> <br>
                        Re-type password:
                        <input type="Password" id="repass" name="repass"> <br> <br>
                        <input type="button" value="Submit" />
                        </section>
                    </form>
    </div>
</body>
    
</body>
</html>